# Django
DJANGO_SECRET_KEY=supersecreto
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

# Database
MYSQL_DATABASE=portfolio_db
MYSQL_USER=portfolio_user
MYSQL_PASSWORD=portfolio_pass
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_HOST=db
MYSQL_PORT=3306

# User
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpass