.editor-toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  background: #e9ede1;
}
.editor-toolbar span {
  font-size: 12px;
}
.editor-toolbar strong {
  margin-right: auto;
}
.editor .public {
  background: #f7f7f2;
}
.editor [class*="Puck-header"] button {
  font-size: 12px;
}
