@media (max-width: 900px) {
  .hero {
    gap: 25px;
  }
  .hero h1 {
    letter-spacing: -2px;
  }
  .hero-art {
    min-height: 380px;
  }
  .orb {
    width: 180px;
    height: 180px;
  }
  .orbit {
    width: 250px;
  }
  .hero-bottom {
    display: none;
  }
  .projects {
    gap: 15px;
  }
  .project-art {
    height: 240px;
  }
  .project-info {
    display: block;
  }
  .admin aside {
    width: 180px;
    padding: 25px 14px;
  }
  .welcome-star {
    opacity: 0.25;
  }
  .page-card {
    flex-wrap: wrap;
  }
  .page-row span {
    font-size: 10px;
  }
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .public-header {
    height: 80px;
  }
  .brand {
    font-size: 20px;
  }
  .public-header nav {
    gap: 15px;
    font-size: 11px;
  }
  .nav-contact {
    padding: 8px 11px;
  }
  .hero {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .hero h1 {
    font-size: 49px;
  }
  .hero-art {
    min-height: 350px;
    margin-top: 15px;
  }
  .hero-copy p {
    font-size: 14px;
  }
  .section {
    padding: 45px 6%;
  }
  .projects,
  .service-grid {
    grid-template-columns: 1fr;
  }
  .project-art {
    height: 330px;
  }
  .project-info {
    display: flex;
  }
  .project {
    margin-bottom: 20px;
  }
  .about {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .section-heading h2 {
    font-size: 29px;
  }
  .service-grid {
    gap: 20px;
  }
  .contact h2 span {
    font-size: 70px;
  }
  footer {
    gap: 20px;
    flex-wrap: wrap;
  }
  .admin {
    display: block;
  }
  .admin aside {
    width: 100%;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .admin aside > small {
    display: none;
  }
  .admin aside nav {
    display: flex;
    order: 4;
    width: 100%;
    margin: 0;
    overflow: auto;
  }
  .admin aside > a:last-of-type {
    margin-left: auto;
  }
  .admin aside > button {
    font-size: 0;
  }
  .admin aside nav button {
    white-space: nowrap;
    padding: 9px;
  }
  .admin-main > header {
    height: 55px;
  }
  .admin-title {
    padding: 30px 0 20px;
  }
  .admin-title h1 {
    font-size: 29px;
  }
  .admin-title > a {
    display: none;
  }
  .stats {
    gap: 10px;
  }
  .stats > div {
    padding: 16px;
  }
  .stats small {
    font-size: 8px;
  }
  .stats strong {
    font-size: 30px;
  }
  .welcome {
    padding: 25px;
  }
  .welcome h2 {
    font-size: 30px;
  }
  .welcome-star {
    right: -30px;
  }
  .page-row {
    flex-wrap: wrap;
  }
  .media-grid {
    grid-template-columns: 1fr;
  }
  .editor-toolbar button {
    font-size: 11px;
    padding: 8px;
  }
  .cta {
    display: block;
  }
  .cta a {
    margin-top: 20px;
  }
}
